<h2>Update Shift Details</h2>

<hr/>
<form #editShift="ngForm" (ngSubmit)="updateShift(shift.id,editShift.value)">
<div *ngIf="shift">


  <div class="form-group">
    <label><b>DATE: </b></label>
    <input type="text"
           value='{{shift.dateOfShift}}'
           class="form-control"
           id="dateOfShift"
           required [(ngModel)]="shift.dateOfShift"
           name="dateOfShift">
  </div>

  <div class="form-group">
    <label><b>CC TIPS: </b></label>
    <input type="text"
           value='{{shift.ccTips}}'
           class="form-control"
           id="ccTips"
           required [(ngModel)]="shift.ccTips"
           name="ccTips">
  </div>

  <div class="form-group">
    <label><b>CASH TIPS: </b></label>
    <input type="text"
           value='{{shift.cashTips}}'
           class="form-control"
           id="cashTips"
           required [(ngModel)]="shift.cashTips"
           name="cashTips">
  </div>

  <div class="form-group">
    <label><b>BAR SALES: </b></label>
    <input type="text"
           value='{{shift.barSales}}'
           class="form-control"
           id="barSales"
           required [(ngModel)]="shift.barSales"
           name="barSales">
  </div>

  <div class="form-group">
    <label><b>FOOD SALES: </b></label>
    <input type="text"
           value='{{shift.foodSales}}'
           class="form-control"
           id="foodSales"
           required [(ngModel)]="shift.foodSales"
           name="ccTips">
  </div>

    <div class="form-group">
      <label> Current Workplace Name:</label>
      <div class="input-group">
        <input type="text"  name="id" value="{{shift.restaurant?.name}}"
               readonly>
      </div>
    </div>


    <div>
    <label>Select Workplace:</label><br>
    <select name = "restaurant"
            class = 'form-control'
            id = 'restaurant'
            required [(ngModel)]="shift.restaurant">
      <option *ngFor="let aRestaurant of restaurantList"
              [ngValue]="aRestaurant"> {{aRestaurant.name}}
      </option>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</div>
</form>
