/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: darkgreen;
  text-align: right;

}
.navbar {
  width: 100%;
  height: 80px;
  color: dimgray;
}
.card {
  margin-left: 375px;
  position: absolute;
}

