<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Shifts you've worked:</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Workplace name</th>
        <th>Date Worked</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let aShift of shiftList ">
        <td>{{aShift.restaurant?.name}}</td>
        <td>{{aShift.inTime.substring(0,10)}}</td>
          <a class="btn btn-info" style="margin-left: 10px" (click)="getShiftbyId(aShift.id,contentId)">Info</a>
      </tr>
      </tbody>
    </table>
  </div>

  <a class="btn-sm btn-primary" style="marker-mid: none" (click)="openCreateModal()">Add New Shift</a>

</div>
