<div class="modal-header">
  <h4 class="modal-title">Restaurant Details</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div style="width: 300px;">
<hr/>
<div *ngIf="restaurant">
  <div>
    <label><b>Workplace Name: </b></label> {{restaurant.name}}
  </div>
  <div>
    <label><b>Server Assistant Tip-Out: </b></label> {{restaurant.foodTipOutPCT}}
  </div>
  <div>
    <label><b>Bar Tip-Out: </b></label> {{restaurant.barTipOutPCT}}
  </div>
  <div>
    <label><b>Hourly Rate: </b></label> {{restaurant.hourlyRate}}
  </div>
</div>
  </div>

<br>
<br>
<button (click)="openUpdate(update)" class="btn btn-link">Update</button>
<button (click)="deleteRestaurant(restaurant.id);activeModal.close('Cross click')" class="btn btn-danger">Delete</button>
</div>

<ng-template let-modal #update>
  <div class="modal-header">
    <h4 class="modal-title">Update Restaurant Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div style="width: 300px;">
      <div style="width: 300px;">
        <form (ngSubmit)="updateRestaurantClick(updateRestaurant.value);modal.close('Cross click')" #updateRestaurant="ngForm">
          <div *ngIf="restaurant">
            <div [hidden]="updateRestaurant.submitted">
              <div class="cross-validation"
                   [class.cross-validation-error]="updateRestaurant.errors?.identityRevealed
             && (updateRestaurant.touched || updateRestaurant.dirty)">

                <div class="form-group">
                  <label for="name">Restaurant Name</label>
                  <input class="form-control" id="name" name="name" value="{{restaurant.name}}"
                         required minlength="2" maxlength="20"
                         [(ngModel)]="restaurant.name" #name="ngModel">

                  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <div *ngIf="name.errors?.minlength">Name must be at least 2 characters long</div>
                    <div *ngIf="name.errors?.maxlength">Name must be less than 20 characters</div>
                    <div *ngIf="name.errors.required">Name is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="foodTipOutPCT">Server Assistant Tip Out Rate</label>
                  <input class="form-control" id="foodTipOutPCT" #foodTipOutPCT="ngModel" value="{{restaurant.foodTipOutPCT}}"
                         required [min]="0.0" [max]="0.2"
                         [(ngModel)]="restaurant.foodTipOutPCT" name="foodTipOutPCT">

                  <div *ngIf="foodTipOutPCT.invalid && (foodTipOutPCT.dirty || foodTipOutPCT.touched)" class="alert alert-danger">
                    <div *ngIf="foodTipOutPCT.errors?.min">tip out must be zero or more</div>
                    <div *ngIf="foodTipOutPCT.errors?.max">tip out cannot exceed 20%</div>
                    <div *ngIf="foodTipOutPCT.errors?.required">Food Sales Tip Out is required, enter 0 if there is no tip out</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="barTipOutPCT">Bar Tip Out Rate</label>
                  <input class="form-control" id="barTipOutPCT" #barTipOutPCT="ngModel"
                         required [min]="0.0" [max]="0.2" value="{{restaurant.barTipOutPCT}}"
                         [(ngModel)]="restaurant.barTipOutPCT" name="barTipOutPCT">

                  <div *ngIf="barTipOutPCT.invalid && (barTipOutPCT.dirty || barTipOutPCT.touched)" class="alert alert-danger">
                    <div *ngIf="barTipOutPCT.errors?.min">tip out must be zero or more</div>
                    <div *ngIf="barTipOutPCT.errors?.max">tip out cannot exceed 20%</div>
                    <div *ngIf="barTipOutPCT.errors?.required">Bar Sales Tip Out is required, enter 0 if there is no tip out</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="hourlyRate">Hourly Rate</label>
                  <input class="form-control" id="hourlyRate" #hourlyRate="ngModel"
                         required [min]="0.0" [max]="20.20" value="{{restaurant.hourlyRate}}"
                         [(ngModel)]="restaurant.hourlyRate" name="hourlyRate">

                  <div *ngIf="hourlyRate.invalid && (hourlyRate.dirty || hourlyRate.touched)" class="alert alert-danger">
                    <div *ngIf="hourlyRate.errors?.min">Hourly Rate must be above $0.00 ph</div>
                    <div *ngIf="hourlyRate.errors?.max">Hourly Rate cannot exceed $20.20 ph</div>
                    <div *ngIf="hourlyRate.errors?.required">Hourly Rate is Required</div>
                  </div>

                </div>

                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
