<nav class="navbar">
  <!-- Links -->


      <a routerLink="restaurants" class="nav-link" routerLinkActive="active">Restaurant List</a>

      <a routerLink="addWork" class="nav-link" routerLinkActive="active">Add Restaurant</a>

        <a routerLink="shifts" class="nav-link" routerLinkActive="active">Shift List</a>

        <a routerLink="shifts/addShift" class="nav-link" routerLinkActive="active">Add Shift</a>

      <a routerLink="pay-period" class="nav-link" routerLinkActive="active">Pay Periods</a>


</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <br>
    <span>by katy ross</span>
  </div>
</footer>

