<div class="card">
  <div class="card-body">
<div class="container">
  <h2 style="text-align: center;">{{title}}</h2>

  <div class="btn-group mr-3">
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-success" ngbDropdownToggle>Income</button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button ngbDropdownItem>
          <a routerLink="income" class="dropdown-item" routerLinkActive="active">View</a>
        </button>
        <button ngbDropdownItem>
          <a routerLink="restaurants" class="dropdown-item" routerLinkActive="active">Restaurants</a>
        </button>
        <button ngbDropdownItem>
          <a routerLink="shifts" class="dropdown-item" routerLinkActive="active">Shifts</a>
        </button>
      </div>
    </div>
  </div>
</div>
<hr>

      <router-outlet></router-outlet>

    </div>
  </div>
