  <div class="modal-header">
    <h4 class="modal-title">Add Shift:</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="width: 300px;">
      <label>IN TIME:</label>
      <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input  class="form-control" placeholder="yyyy-mm-dd"
                        name= "d" [(ngModel)]="inDateModel" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </div>
          </form>

        <ngb-timepicker [(ngModel)]="inTimeModel" [meridian]="meridian"></ngb-timepicker>


      <label>OUT TIME:</label>
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input  class="form-control" placeholder="yyyy-mm-dd"
                    name= "dO" [(ngModel)]="outDateModel" ngbDatepicker #dO="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dO.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </form>

      <ngb-timepicker [(ngModel)]="outTimeModel" [meridian]="aMeridian"></ngb-timepicker>

<!--      <pre>in time: {{inDateAndTime | json}}</pre>-->
<!--      <pre>out time: {{outDateAndTime | json}}</pre>-->
<!--      <pre>pay date: {{payDate | json}}</pre>-->

<!--&lt;!&ndash;        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;          <label for="payDay">PAY DAY:</label>&ndash;&gt;-->
<!--&lt;!&ndash;          <input type="text" class="form-control" id="payDay" required [(ngModel)]="shift.payDay" name="payDay">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

      <label>PAY DAY:</label>
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input  class="form-control" placeholder="yyyy-mm-dd"
                    name= "dO" [(ngModel)]="payDayModel" ngbDatepicker #dP="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dP.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </form>

      <form #createShift="ngForm">
        <div class="form-group">
          <label for="foodSales">Food Sales</label>
          <input type="text" class="form-control" id="foodSales" required [(ngModel)]="shift.foodSales" name="foodSales">
        </div>

        <div class="form-group">
          <label for="barSales">Bar Sales</label>
          <input type="text" class="form-control" id="barSales" required [(ngModel)]="shift.barSales" name="barSales">
        </div>

        <div class="form-group">
          <label for="ccTips">Credit Card Tips</label>
          <input type="text" class="form-control" id="ccTips" required [(ngModel)]="shift.ccTips" name="ccTips">
        </div>

        <div class="form-group">
          <label for="cashTips">Cash Tips</label>
          <input type="text" class="form-control" id="cashTips" required [(ngModel)]="shift.cashTips" name="cashTips">
        </div>

        <div class = "form-group">
          <label>Select Workplace:</label><br>
          <select required [(ngModel)]="shift.restaurant"
                  name = "restaurant"
                  id="restaurant">
            <option *ngFor="let aRestaurant of restaurantList"
                    text="{{aRestaurant.name}}"
                    [ngValue]="aRestaurant">
            </option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" (click)= "dateToString(payDayModel);
                                                                  dateAndTime(inTimeModel, inDateModel);
                                                                  dateAndTime(outTimeModel,outDateModel);
                                                                  onSubmit(createShift.value);
                                                                  activeModal.close('Close click')" >Submit</button>
        </div>
      </form>
    </div>
  </div>
