  <div class="modal-header">
    <h4 class="modal-title">Add Shift:</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div style="width: 300px;">

      <label>IN DATE:
      <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input  class="form-control" placeholder="yyyy-mm-dd" (ngModelChange)="updateOutDatePicker($event)"
                        name= "d" [(ngModel)]="inDateModel" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </div>
          </form>
      </label>

        <label>IN TIME:
        <ngb-timepicker [(ngModel)]="inTimeModel" [meridian]="meridian"></ngb-timepicker>
        </label>

      <label>OUT DATE:
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input  class="form-control" placeholder="yyyy-mm-dd"
                    name= "dO" [(ngModel)]="outDateModel" ngbDatepicker #dO="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dO.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </form>
      </label>

      <label>OUT TIME:
      <ngb-timepicker [(ngModel)]="outTimeModel" [meridian]="aMeridian"></ngb-timepicker>

      <label>PAY DAY:</label>
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input  class="form-control" placeholder="yyyy-mm-dd"
                    name= "dO" [(ngModel)]="payDayModel" ngbDatepicker #dP="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dP.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </form>
      </label>
    <br>

      <form #createShift="ngForm">

        <div class="form-group">
          <label for="foodSales">FOOD SALES:</label>
          <input type="text" class="form-control" id="foodSales" required [(ngModel)]="shift.foodSales" name="foodSales">
        </div>

        <div class="form-group">
          <label for="barSales">BAR SALES:</label>
          <input type="text" class="form-control" id="barSales" required [(ngModel)]="shift.barSales" name="barSales">
        </div>

        <div class="form-group">
          <label for="ccTips">CREDIT CARD TIPS:</label>
          <input type="text" class="form-control" id="ccTips" required [(ngModel)]="shift.ccTips" name="ccTips">
        </div>

        <div class="form-group">
          <label for="cashTips">CASH TIPS:</label>
          <input type="text" class="form-control" id="cashTips" required [(ngModel)]="shift.cashTips" name="cashTips">
        </div>

        <div class = "form-group">
          <label>WORKPLACE:</label><br>
          <div class="btn-group btn-group-vertical" data-toggle="buttons">
            <label class = "btn active" *ngFor="let aRestaurant of restaurantList">
              <input type = "radio" class="form-control" required [(ngModel)]="shift.restaurant" [value]="aRestaurant" name="restaurant">
              <span>{{aRestaurant.name}}</span>
            </label>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success" (click)= "dateToString(payDayModel);
                                                                  dateAndTime(inTimeModel, inDateModel);
                                                                  dateAndTime(outTimeModel,outDateModel);
                                                                  onSubmit(createShift.value);
                                                                  activeModal.close('Close click')" >Submit</button>
        </div>
      </form>
    </div>
  </div>
