<h3>Add Pay-Period:</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit(createPayPeriod.value)" #createPayPeriod="ngForm">
    <div class="form-group">
      <label for="startPayPeriod">Pay Period Start Date:</label>
      <input type="text" class="form-control" id="startPayPeriod" required [(ngModel)]="payPeriod.startPayPeriod" name="startPayPeriod">
    </div>

    <div class="form-group">
      <label for="endPayPeriod">Pay Period End Date:</label>
      <input type="text" class="form-control" id="endPayPeriod" required [(ngModel)]="payPeriod.endPayPeriod" name="endPayPeriod">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
