<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Restaurants You Work at:</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let aRestaurant of restaurantList">
        <td>{{aRestaurant.name}}</td>
          <button (click)="openInfoModal(aRestaurant.id)" class="btn btn-info" style="margin-left: 10px">Info</button>
      </tr>
      </tbody>
    </table>
  </div>
</div>
