<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Restaurants You Work at:</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let aRestaurant of restaurantList">

        <td>{{aRestaurant.name}}</td>

        <td>

          <a class="btnInfo" (click)="openInfoModal(aRestaurant.id)" ngbTooltip="Shift Info" tooltipClass="ttClass">
            <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-question-circle-fill" fill="white" xmlns="http://www.w3.org/2000/svg" >
              <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.57 6.033H5.25C5.22 4.147 6.68 3.5 8.006 3.5c1.397 0 2.673.73 2.673 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.355H7.117l-.007-.463c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.901 0-1.358.603-1.358 1.384zm1.251 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z"/>
            </svg>
          </a>

        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

<a id="add" class="btn" ngbTooltip="Add a new workplace!" tooltipClass="ttClass" (click)="openCreateModal()">
  <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
  </svg>
</a>
