<h3>Add Shift:</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit(createShift.value)" #createShift="ngForm">
    <div class="form-group">
      <label for="dateOfShift">Date of Shift</label>
      <input type="text" class="form-control" id="dateOfShift" required [(ngModel)]="shift.dateOfShift" name="dateOfShift">
    </div>

    <div class="form-group">
      <label for="foodSales">Food Sales</label>
      <input type="text" class="form-control" id="foodSales" required [(ngModel)]="shift.foodSales" name="foodSales">
    </div>

    <div class="form-group">
      <label for="barSales">Bar Sales</label>
      <input type="text" class="form-control" id="barSales" required [(ngModel)]="shift.barSales" name="barSales">
    </div>

    <div class="form-group">
      <label for="ccTips">Credit Card Tips</label>
      <input type="text" class="form-control" id="ccTips" required [(ngModel)]="shift.ccTips" name="ccTips">
    </div>

    <div class="form-group">
      <label for="cashTips">Cash Tips</label>
      <input type="text" class="form-control" id="cashTips" required [(ngModel)]="shift.cashTips" name="cashTips">
    </div>

      <div class = "form-group">
      <label>Select Workplace:</label><br>
        <select required [(ngModel)]="shift.restaurant"
          name = "restaurant"
                id="restaurant">
        <option *ngFor="let aRestaurant of restaurantList"
                text="{{aRestaurant.name}}"
                [ngValue]="aRestaurant">
        </option>
        </select>
      </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
