<!--SHIFT INFO-->

  <div class="modal-header">
    <h4 class="modal-title">Shift Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="width: 300px;">

      <hr/>
      <div *ngIf="shift">
        <div>
          <label><b>Workplace:</b></label>{{shift.restaurant?.name}}
        </div>
        <div>
          <label><b>IN TIME: </b></label> {{shift.inTime}}
        </div>
        <div>
          <label><b>OUT TIME: </b></label> {{shift.outTime}}
        </div>
        <div>
          <label><b>CC TIPS: </b></label> {{shift.ccTips}}
        </div>
        <div>
          <label><b>CASH TIPS: </b></label> {{shift.cashTips}}
        </div>
        <div>
          <label><b>BAR SALES: </b></label> {{shift.barSales}}
        </div>
        <div>
          <label><b>FOOD SALES: </b></label> {{shift.foodSales}}
        </div>
        <div>
          <label><b>PAY DAY: </b></label> {{shift.payDay}}
        </div>
      </div>

      <br>
      <br>


      <ng-template let-modal #updateModal>
      <div class="modal-header">
        <h4 class="modal-title">Update Shift Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="width: 300px;">

          <hr/>
          <hr/>

          <form #editShift="ngForm" (ngSubmit)="updateShift(editShift.value); modal.close('Cross click')">
            <div *ngIf="shift">

              <div class="form-group">
                <label for="inTime">IN TIME:</label>
                <input type="text"
                       class="form-control"
                       id="inTime" required
                       [(ngModel)]="shift.inTime"
                       name="inTime">
              </div>

              <div class="form-group">
                <label for="outTime">OUT TIME: </label>
                <input type="text"
                       class="form-control"
                       id="outTime" required
                       [(ngModel)]="shift.outTime"
                       name="outTime">
              </div>

              <div class="form-group">
                <label for="payDay">PAY DAY:</label>
                <input type="text"
                       class="form-control"
                       id="payDay"
                       required [(ngModel)]="shift.payDay"
                       name="payDay">
              </div>

              <div class="form-group">
                <label><b>CC TIPS: </b></label>
                <input type="text"
                       value='{{shift.ccTips}}'
                       class="form-control"
                       id="ccTips"
                       required [(ngModel)]="shift.ccTips"
                       name="ccTips">
              </div>

              <div class="form-group">
                <label><b>CASH TIPS: </b></label>
                <input type="text"
                       value='{{shift.cashTips}}'
                       class="form-control"
                       id="cashTips"
                       required [(ngModel)]="shift.cashTips"
                       name="cashTips">
              </div>

              <div class="form-group">
                <label><b>BAR SALES: </b></label>
                <input type="text"
                       value='{{shift.barSales}}'
                       class="form-control"
                       id="barSales"
                       required [(ngModel)]="shift.barSales"
                       name="barSales">
              </div>

              <div class="form-group">
                <label><b>FOOD SALES: </b></label>
                <input type="text"
                       value='{{shift.foodSales}}'
                       class="form-control"
                       id="foodSales"
                       required [(ngModel)]="shift.foodSales"
                       name="foodSales">
              </div>

              <div class="form-group">
                <label><b>WORKPLACE: </b></label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect"
                        required [(ngModel)] = "shift.restaurant" name="restaurant">
                  <option
                    *ngFor="let aRestaurant of restaurantList"
                    [ngValue]="aRestaurant">
                    {{aRestaurant.name}}
                  </option>
                </select>
              </div>

              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
      </ng-template>


      <button (click)="deleteShift(shift.id); activeModal.close('Close click'); refresh()" class="btn btn-danger">Delete</button>
      <button (click)="openUpdateModal(updateModal);" class="btn btn-link">Update</button><br>


    </div>
  </div>



